# Data and Libraries
data/
lib/
venv/
.venv/
env/

# Data Files
*.parquet
*.csv
*.gz
*.zip
*.json

# Spark/Hadoop
checkpoint/
target/
.spark-staging/
metastore_db/
derby.log

# Python & Notebooks
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.vscode/
