# Ignore Python virtual environment
taxi-project/
__pycache__/
*.pyc

# Ignore all data files (Raw and Processed)
data/raw/*.parquet
data/raw/*.csv
data/pq/

# Ignore Spark/Hadoop logs and temporary files
spark-warehouse/
derby.log
metastore_db/
.ipynb_checkpoints/
# Ignore additional virtual environments
notebooks/env310/
env/
venv/
